@import url(https://fonts.googleapis.com/css?family=Nunito);/*
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
*/

* {
  font-family: "Lato", sans-serif;
}

button,
button:focus,
a,
a:hover,
div,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 17px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  background: #fff;
}

body {
  padding-top: 92px;
}

/*.menu-scroll{
    background: #fff;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    }*/

#logo {
  width: 165px;
  margin: 17px 0 10px;
  float: left;
}

ul#translate {
  position: absolute;
  right: 0;
  top: 13px;
}

#main-menu,
#translate {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

#main-menu {
  margin-top: 15px;
}

#main-menu li,
#translate li {
  float: left;
  text-transform: uppercase;
}

#translate li img {
  margin-top: -15px;
}

#main-menu li a,
#translate li a {
  color: #000;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 90px;
  letter-spacing: 1px;
}

#translate li a {
  color: #b1b1b1;
  font-size: 13px;
}

#translate li a.active {
  color: #000;
}

#main-menu li:last-child a {
  margin-right: 0;
  padding-right: 0;
}

#translate li a {
  line-height: 0;
  display: table;
  margin-top: 6px;
}

#translate li:last-child {
  border-left: 2px solid #b1b1b1;
}

#btn-menu-toggle {
  float: right;
  background: transparent;
  border: none;
  margin: 0;
  padding: 5px 0 0;
  display: none;
}

.row-menu-toggle {
  width: 33px;
  height: 5px;
  border-radius: 6px;
  margin: 5px 0 3px;
  background: #ed191a;
}

#menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  background: #263262;
  padding: 30px 20px;
  display: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
}

.box-title-menu-mob strong {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}

.box-title-menu-mob button {
  float: right;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #fff;
  line-height: 0;
  margin-top: 5px;
}

#main-menu-mobile {
  background: #263262;
  height: 100vh;
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

#main-menu-mobile li {
  margin-bottom: 15px;
}

#main-menu-mobile a,
#main-menu-mobile a:hover,
#main-menu-mobile a:focus {
  color: #fff;
}

.carousel-item {
  background-position: center 0;
  background-size: cover;
}

.banner-first-row {
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 94px;
  line-height: 115px;
  text-shadow: 0 5px 17px black;
  padding: 100px 0;
  max-width: 430px;
}

#slider-carousel {
  margin: 0 -10px;
  position: relative;
}

#slider {
  margin: 0;
  position: relative;
}

#next-carousel,
#prev-carousel {
  z-index: 9;
  position: absolute;
  top: 185px;
  background: transparent;
  border: none;
  color: #877171;
  font-size: 30px;
}

#next-carousel {
  right: -55px;
}

#prev-carousel {
  left: -55px;
}

section#about-us {
  text-align: center;
  margin: 70px 0 55px;
}

h1.title-section {
  font-family: "Anton", sans-serif;
  color: #273262;
  margin-bottom: 30px;
  font-size: 48px;
}

#about-us p {
  text-align: justify;
  font-size: 18px;
  margin-bottom: 25px;
}

#partners h1.title-section {
  margin-bottom: 100px;
}

section#gray {
  background: #e5e5e5;
  padding: 40px 0;
}

.box-white {
  position: relative;
  background: #fff;
  padding: 95px 35px 35px 35px;
}

#partners .box-white {
  margin-bottom: 90px;
}

img.partner-face {
  position: absolute;
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 130px;
  top: -65px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 100%;
}

.box-white strong {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
}

.box-white p {
  font-size: 18px;
}

#portfolio {
  padding-top: 70px;
}

#portfolio .box-white {
  padding: 35px;
  min-height: 378px;
}

#portfolio .box-white img {
  margin: 0 auto;
  display: table;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 103px;
}

#portfolio #img-quiosque {
  max-width: 140px;
}

#portfolio .box-white p {
  margin: 35px 0;
}

#portfolio .box-banner-item {
  padding: 0 13px;
}

#blog {
  padding-top: 70px;
}

.box-text-blog {
  background: #fff;
  color: #000;
  padding: 10px 20px 20px;
}

.box-text-blog h4 {
  font-weight: 900;
  margin: 15px 0;
  font-size: 18px;
  line-height: 30px;
}

.box-text-blog p {
  font-size: 14px;
  margin-bottom: 20px;
}

.box-text-blog a {
  font-weight: 900;
  color: #000;
  margin-bottom: 10px;
  display: table;
}

.logo-blog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110px;
  height: 30px;
  background: #fff;
  padding-left: 5px;
}

.logo-blog img {
  width: 100%;
  max-width: 99px;
}

#contact {
  padding-top: 70px;
}

.box-contact {
  background: #fff;
  padding: 50px 30px 30px 30px;
  margin-bottom: 30px;
}

.box-contact h4 {
  font-weight: 900;
  font-size: 18px;
}

.box-contact p {
  font-size: 16px;
  margin: 20px 0;
}

footer {
  background: #f1f1f1;
  padding: 30px 0;
}

footer p {
  margin-top: 6px;
  float: left;
}

footer img {
  width: 100%;
  max-width: 39px;
  float: right;
}

@media (max-width: 768px) {
  #main-menu {
    display: none;
  }

  #btn-menu-toggle {
    display: block;
    position: absolute;
    top: 45px;
    right: 15px;
  }

  #partners .box-white {
    margin-bottom: 120px;
  }

  .last-child-mobile {
    margin-bottom: 0 !important;
  }

  #next-carousel,
  #prev-carousel {
    display: none !important;
  }

  .box-blog,
  .box-contact {
    margin-bottom: 50px;
  }
}

@media (max-width: 414px) {
  #logo {
    width: 150px;
  }

  #btn-menu-toggle {
    top: 40px;
  }

  .banner-first-row {
    font-size: 84px;
  }
}

@media (max-width: 375px) {
  body {
    padding-top: 87px;
  }

  #logo {
    width: 135px;
  }

  #btn-menu-toggle {
    top: 35px;
  }

  #translate li a {
    margin-right: 2px;
    margin-left: 2px;
  }

  .banner-first-row {
    font-size: 74px;
  }
}

@media (max-width: 320px) {
  #logo {
    width: 125px;
    margin-top: 20px;
  }

  #btn-menu-toggle {
    top: 35px;
  }

  #translate li a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 10px;
  }

  .banner-first-row {
    font-size: 64px;
  }
}

@media only screen and (min-width: 481px) {
  .flex-row.row {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-row.row > [class*=col-] {
    display: flex;
    flex-direction: column;
  }

  .flex-row.row:after,
  .flex-row.row:before {
    display: flex;
  }

  .flex-row.row > [class*=col-] > .box {
    display: flex;
    flex: 1;
  }
}

/* Grow thumbnails to fill columns height */

.flex-row .thumbnail,
.flex-row .box-white {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

/* Flex Grow Text Container */

.flex-row .box-white p.flex-text {
  flex-grow: 1;
}

.carousel-item {
  background-position: center;
  min-height: calc(100vh - 92px);
}

