@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;

700;900&display=swap);@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.eot?784c48afc2b2e82be785f72f2fc76183);
  src: url(/fonts/icomoon.eot?784c48afc2b2e82be785f72f2fc76183) format("embedded-opentype"), url(/fonts/icomoon.ttf?77b4818ff35f66069aaaa7e7789afed1) format("truetype"), url(/fonts/icomoon.woff?103fdd0e1773fb8d0c4f9b639077736f) format("woff"), url(/fonts/icomoon.svg?9ae3a8bcab0b73c6ea14cd4a7b502033) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\E901";
}

.icon-bag:before {
  content: "\E902";
}

.icon-user:before {
  content: "\E900";
}

a,
p,
input,
li,
button {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.display-none {
  display: none;
}

body {
  background-color: #efefef;
}

header#header {
  width: 100%;
  background-color: #ffffff;
  padding-top: 15px;
}

@media (max-width: 768px) {
  header#header {
    display: none;
  }

  header#header-mobile {
    display: block;
  }
}

#header-mobile {
  display: none;
  width: 100%;
  background-color: #ffffff;
  padding: 8px 0;
}

#header-mobile img {
  width: 100%;
  max-width: 90px;
  margin: 0 auto;
  display: table;
}

#header-mobile div#box-bag-mobile {
  position: relative;
  cursor: pointer;
  right: 0;
}

#header-mobile i.icon-bag {
  font-size: 29px;
  display: table;
  margin-top: 8px;
}

#header-mobile .items-bag {
  background: #d6d6d6;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  position: absolute;
  top: -1px;
  right: 0;
}

#header-mobile .btn-toggle {
  margin-top: 13px;
  cursor: pointer;
}

#header-mobile .row-menu-toggle {
  background: #000;
  width: 25px;
  height: 2px;
  margin: 3px 0;
}

#header-mobile .row-menu-toggle-small {
  background: #000;
  width: 20px;
  height: 2px;
}

#header-mobile .box-search {
  margin-top: 10px;
}

#header-mobile .box-search input {
  padding: 6px 22px;
}

#header-mobile .box-search button {
  padding-right: 10px;
}

#header-mobile .box-search button i {
  font-size: 18px;
}

@media (max-width: 414px) {
  #header-mobile div#box-bag-mobile {
    right: 2px;
  }

  #header-mobile .items-bag {
    right: -2px;
  }
}

@media (max-width: 375px) {
  #header-mobile div#box-bag-mobile {
    right: 9px;
  }

  #header-mobile .items-bag {
    right: -10px;
  }
}

#menu-mobile {
  display: none;
  padding: 0;
  background: #efefef;
  height: 100vh;
  width: 290px;
  position: fixed;
  top: 0;
  z-index: 9;
}

#menu-mobile #close-menu {
  display: table;
  margin: 16px auto;
  color: #000;
  width: 115px;
}

#menu-mobile #close-menu img {
  max-width: 12px;
  margin-top: 7px;
  float: left;
  margin-right: 10px;
}

#menu-mobile #close-menu:hover {
  cursor: pointer;
}

#menu-mobile #main-menu-mobile #menu-padding {
  padding: 0 20px;
}

#menu-mobile #main-menu-mobile button {
  width: 100%;
  background: #fff;
  margin: 10px 0;
  padding: 9px 21px;
  border-radius: 35px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.11);
  border: none;
  text-align: left;
}

#menu-mobile #main-menu-mobile button img {
  float: left;
  width: 100%;
  max-width: 14px;
  margin-top: 4px;
  margin-right: 10px;
}

#menu-mobile #main-menu-mobile .category {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  margin-top: 7px;
  padding: 13px 22px;
  border: none;
  background: #fff;
  width: 100%;
  text-align: left;
}

#menu-mobile #main-menu-mobile .category img {
  float: right;
  max-width: 12px;
  margin-top: 7px;
}

#menu-mobile p {
  padding-left: 20px;
  margin-top: 40px;
}

#submenu-mobile #back-menu {
  display: table;
  margin: 16px auto;
  color: #000;
  width: 115px;
}

#submenu-mobile #back-menu img {
  max-width: 12px;
  margin-top: 7px;
  float: left;
  margin-right: 10px;
}

#submenu-mobile #back-menu:hover {
  cursor: pointer;
}

#submenu-mobile h5 {
  font-weight: 900;
  margin-left: 20px;
  margin-top: 45px;
}

#submenu-mobile .w-submenu {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  margin-top: 7px;
  padding: 13px 22px;
  border: none;
  background: #fff;
  width: 100%;
  text-align: left;
}

#submenu-mobile .w-submenu img {
  float: right;
  max-width: 12px !important;
  margin-top: 7px !important;
}

div#overlay {
  background: rgba(0, 0, 0, 0.65);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
}

.has-error {
  border: 1px solid #ed1f25;
}

.help-block {
  color: #ed1f25;
  font-size: 10px;
}

.box-search {
  position: relative;
  margin: 5px 0;
  width: 100%;
}

.box-search input {
  border-radius: 25px;
  background-color: #e9e8e8;
  border: none;
  padding: 15px 22px;
  width: 100%;
  display: flex;
  font-weight: 400;
  font-size: 14px;
}

.box-search button {
  padding-right: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.box-search button i {
  font-size: 22px;
  color: #818181;
}

#box-user {
  margin: 14px 25px 0 0;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

#box-user i {
  font-size: 30px;
}

#box-user a {
  color: #181818;
  font-size: 14px;
  margin-left: 10px;
  line-height: 16px;
}

#box-bag {
  cursor: pointer;
  margin: 14px 0;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#box-bag i {
  font-size: 32px;
}

#box-bag a {
  color: #181818;
  font-size: 14px;
  margin-left: 10px;
  line-height: 16px;
}

.row-menu {
  border-top: 1px solid #858585;
  border-bottom: 1px solid #858585;
  margin-top: 15px;
  padding: 15px;
}

#main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu li {
  float: left;
}

#main-menu a {
  color: #858585;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#main-menu .active {
  font-weight: bold;
  color: #000;
}

#main-menu .main-menu-bold {
  font-weight: bold;
}

section.banner {
  background: #e2e3db;
  height: 350px;
}

section.options {
  background: #4e1b5d;
  color: #fff;
  padding: 15px;
}

section.options img {
  float: left;
  width: 100%;
  max-width: 50px;
  margin-right: 20px;
}

section.options p {
  font-size: 18px;
  margin: 3px 0 0 0;
}

.options-mobile {
  text-align: center;
  display: none;
}

.box-options-mobile {
  background: #4e1b5d;
  color: #fff;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 35px;
}

.box-options-mobile h5 {
  color: #fff;
  font-weight: 900;
}

.box-options-mobile p {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .options {
    display: none;
  }

  .options-mobile {
    display: block;
  }
}

section.content {
  background: #efefef;
}

section.content h2 {
  font-size: 30px;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  section.content h2 {
    font-size: 25px;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

#slider-carousel {
  margin: 0;
  position: relative;
}

.box-carousel {
  margin: 0 25px 25px 25px;
  /*0 10px*/
  outline: none;
}

.box-carousel img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .box-carousel {
    margin: 0 11px 5px 10px;
  }
}

.box-slider {
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.box-slider h5 {
  font-size: 18px;
  margin-top: 40px;
}

.status {
  position: absolute;
  background-color: #fff200;
  padding: 3px 15px;
  border-radius: 30px;
  top: 15px;
  right: 15px;
}

.status p {
  color: #fff;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 14px;
}

.slider {
  margin: 0;
  position: relative;
}

.next-carousel,
.next-carousel-news,
.next-carousel-promotion,
.prev-carousel,
.prev-carousel-news,
.prev-carousel-promotion {
  z-index: 9;
  position: absolute;
  top: 185px;
  background: transparent;
  border: 0;
  color: #000;
  font-size: 23px;
}

.next-carousel-promotion,
.prev-carousel-promotion {
  color: #fff;
}

.next-carousel,
.next-carousel-news,
.next-carousel-promotion {
  right: -55px;
}

.prev-carousel,
.prev-carousel-news,
.prev-carousel-promotion {
  left: -55px;
}

.content-slider {
  padding: 10px 15px;
}

.content-slider p {
  margin-bottom: 10px;
  letter-spacing: 0;
  font-size: 18px;
}

.content-slider strong {
  font-weight: 900;
  margin-right: 10px;
}

.content-slider small {
  display: table;
}

.box-spotlight {
  background: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  border: solid 1px #fff;
  border-radius: 2px;
  cursor: pointer;
}

.box-spotlight h5 {
  margin: 4px 0;
}

.box-spotlight:hover {
  border: solid 1px #ed2327;
}

@media (max-width: 768px) {
  .content-slider strike {
    display: flex;
  }

  .next-carousel,
  .next-carousel-news,
  .next-carousel-promotion,
  .prev-carousel,
  .prev-carousel-news,
  .prev-carousel-promotion {
    display: none !important;
  }

  .box-spotlight {
    margin-bottom: 10px;
  }
}

.box-wholesale {
  background: #ed1c24;
  background: linear-gradient(48deg, #ed1c24 0%, #f26649 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1c24", endColorstr="#f26649", GradientType=1);
  padding: 50px;
  min-height: 140px;
  border-radius: 5px;
  margin: 60px 0 95px;
}

.box-wholesale h3 {
  font-size: 26px;
  color: #fff;
  float: left;
  margin-top: 2px;
}

.box-wholesale button {
  background: #fff;
  border: none;
  color: #ed1f25;
  font-weight: 900;
  font-size: 22px;
  float: right;
  padding: 5px 35px;
  border-radius: 45px;
}

@media (max-width: 768px) {
  .box-wholesale {
    padding: 45px 0 0 0;
    text-align: center;
    min-height: 170px;
    margin: 25px 0 0;
  }

  .box-wholesale h3 {
    font-size: 20px;
    float: initial;
  }

  .box-wholesale button {
    float: initial;
    font-size: 16px;
    margin-top: 10px;
  }
}

section.lightning-promotion {
  background: #ee2428;
  padding: 20px 0;
  margin-top: 80px;
}

section.lightning-promotion h2 {
  margin-top: 10px;
  color: #fff;
}

@media (max-width: 768px) {
  section.lightning-promotion {
    margin-top: 25px;
  }
}

.box-promotion {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  min-height: 70px;
  margin-bottom: 45px;
}

.box-promotion img {
  width: 100%;
  max-width: 50px;
  float: left;
  margin-right: 60px;
}

@media (max-width: 374px) {
  .box-promotion img {
    margin-right: 15px;
  }
}

.chronometer {
  float: left;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 55px;
  margin-top: 4px;
}

.chronometer p {
  font-size: 24px;
  font-weight: 900;
  color: #ee2428;
  margin: 0;
  line-height: 15px;
}

.chronometer p.two-points {
  position: absolute;
  top: -3px;
  right: -9px;
}

.chronometer small {
  font-weight: bold;
  color: #ee2428;
}

section.about {
  padding: 80px 0;
}

.box-about {
  background: #fff;
  padding: 25px 30px 10px;
  border-radius: 5px;
}

.box-about h2 {
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}

.box-about p {
  font-size: 18px;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .box-about {
    padding: 25px 20px 10px;
    margin-bottom: 30px;
  }
}

.newsletter {
  text-align: center;
}

.newsletter h2 {
  text-transform: uppercase;
}

.newsletter form {
  position: relative;
}

.newsletter input[type=email] {
  padding: 10px 15px;
  width: 100%;
  max-width: 395px;
  border: 1px solid #adadad;
  border-radius: 10px;
  background: #fff;
}

.newsletter button {
  background: #ed1c24;
  border: none;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 1px;
  right: 73px;
}

.checkbox {
  display: block;
  position: relative;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  max-width: 330px;
  margin: 20px auto 15px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #adadad;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */

.checkbox input:checked ~ .checkmark {
  background-color: #ed1c24;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .newsletter button {
    right: 0;
  }

  .checkbox {
    font-size: 13px;
  }
}

.box-medias {
  background: #fff;
  width: 215px;
  margin: 95px auto 0;
  padding: 30px 0 35px;
  border-radius: 5px;
}

.box-medias p {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.box-medias a {
  margin: 0 5px;
  color: #000;
  font-weight: bold;
}

#mobile-medias {
  display: none;
  background: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  section.about {
    padding: 80px 0 25px;
  }

  .box-medias {
    display: none;
  }

  #mobile-medias,
  #box-medias-mobile {
    display: block;
    width: 100%;
    margin: 0 0 5px;
  }
}

section.info {
  padding: 10px 0 60px;
}

section.info h4 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
}

section.info ul {
  list-style: none;
  padding: 0;
}

section.info ul li {
  margin-bottom: 3px;
}

section.info ul li a img#whatsapp {
  width: 100%;
  max-width: 29px;
  margin-right: 7px;
}

section.info ul li a img#email {
  width: 100%;
  max-width: 25px;
  margin-right: 11px;
}

section.info ul li a {
  color: #000;
}

@media (max-width: 768px) {
  section.info {
    padding: 10px 0 20px;
  }

  section.info h4 {
    margin-bottom: 15px;
    margin-top: 25px;
  }
}

section.payment {
  padding: 60px 0 60px;
  background: #fff;
}

section.payment h4 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
}

section.payment img {
  width: 100%;
  max-width: 199px;
}

@media (max-width: 768px) {
  img#img-payment {
    margin-bottom: 45px;
  }
}

.address {
  padding: 20px 0;
}

.address p {
  margin-bottom: 0;
}

.address a {
  text-decoration: underline;
  display: table;
  margin-top: 40px;
}

.address small {
  color: #878787;
}

@media (max-width: 768px) {
  .address p {
    margin-bottom: 25px;
  }

  .address a {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.box-register {
  background: #fff;
  text-align: center;
  padding: 30px 45px 60px;
  margin: 40px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
}

.box-register p {
  font-weight: bold;
  margin-bottom: 35px;
}

.box-register label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 3px;
  letter-spacing: 0.3px;
}

.box-register input {
  width: 100%;
  border-radius: 5px;
  padding: 7px 15px;
}

.box-register .custom-control.custom-radio.custom-control-inline {
  margin-bottom: 10px;
}

.box-register button {
  width: 100%;
  background: #f7941d;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

.checkout h5 {
  margin-bottom: 15px;
}

.checkout ul {
  padding: 0;
  list-style: none;
}

.checkout li {
  margin: 5px 0;
}

.checkout img {
  width: 100%;
  max-width: 13px;
  margin-right: 10px;
  margin-top: -3px;
}

.checkout img#card-checkout {
  max-width: none;
  margin: 0 0 15px 0;
}

.box-register-with-title {
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  padding: 15px 30px;
  text-align: initial;
}

.title-register {
  background: #ed1c24;
  background: linear-gradient(48deg, #ed1c24 0%, #f26649 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1c24", endColorstr="#f26649", GradientType=1);
  padding: 5px 30px;
  border-radius: 5px 5px 0 0;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
}

.custom-control.custom-checkbox {
  margin: 30px 0;
}

#checkout {
  text-align: center;
}

button.btn-orange {
  width: 100%;
  background: #f7941d;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 60px;
}

.box-order-placed {
  font-family: "Lato", sans-serif;
  padding: 50px 0 0;
}

.box-order-placed img {
  width: 100%;
  max-width: 50px;
}

.box-order-placed h4 {
  font-size: 20px;
  color: #48b02c;
  font-weight: 900;
  margin: 20px 0 5px;
}

.box-order-placed span {
  color: #000;
  font-weight: 900;
  font-size: 18px;
  display: table;
  margin: 0 auto 35px;
}

.box-order-placed .box-steps {
  float: left;
  width: 33%;
  position: relative;
  padding: 0 10px;
}

.box-order-placed .box-steps img {
  max-width: 30px;
}

.box-order-placed .box-steps small {
  font-size: 12px;
  display: flex;
  line-height: 13px;
  margin-top: 7px;
}

.box-order-placed .box-steps small#waiting {
  color: #b04f39;
}

.box-order-placed .box-steps img#step3 {
  max-width: 40px;
  margin-top: 0.2px;
}

.box-order-placed .box-steps img.next {
  position: absolute;
  top: 10px;
  right: -10px;
  max-width: 15px !important;
}

.box-order-placed #next-step {
  text-align: left;
  padding: 20px;
  margin-top: 130px;
}

.box-order-placed #next-step h5 {
  font-weight: 900;
}

.box-order-placed #next-step p {
  letter-spacing: 0;
}

.breadcrumb {
  padding: 10px 0 5px;
  margin-bottom: 0;
  background: transparent;
}

.breadcrumb .breadcrumb-item {
  color: #6c757d;
}

.breadcrumb-pages h4 {
  font-weight: 900;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 12px;
  }
}

.box-filter-desktop,
.box-filter-mobile {
  background: #fff;
  padding: 25px 25px 5px 25px;
  border-radius: 5px;
}

.box-filter-desktop p,
.box-filter-mobile p {
  margin-bottom: 4px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 13px;
}

.box-filter-mobile {
  display: none;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .box-filter-desktop {
    display: none;
  }
}

.box-filter-option {
  height: 130px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.box-filter-option .checkmark {
  width: 14px;
  height: 14px;
  top: 4px;
}

.box-filter-option .checkbox {
  padding-left: 20px;
  margin: 3px 0;
}

.box-filter-option .checkbox .checkmark:after {
  left: 3.2px;
  top: 1px;
  width: 5px;
  height: 8.2px;
}

.box-filter-option::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 30px;
}

.box-filter-option::-webkit-scrollbar {
  width: 7px;
  background: #f0f0f0;
  border-radius: 30px;
}

.box-filter-option::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 30px;
}

.color-filter {
  height: 15px;
  width: 15px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}

#yellow {
  background: #fbff00;
}

#black {
  background: #000;
}

#blue {
  background: #0200fe;
}

#blueDark {
  background: #00236a;
}

#gray {
  background: #8c8989;
}

#purple {
  background: #6c05a0;
}

.box-product {
  outline: none;
  margin-bottom: 40px;
}

.box-product img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.box-content-product {
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.box-content-product h5 {
  font-size: 18px;
  margin-top: 40px;
}

.status {
  position: absolute;
  background-color: #fff200;
  padding: 3px 15px;
  border-radius: 30px;
  top: 15px;
  right: 15px;
}

.status p {
  color: #fff;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 14px;
}

.content-product {
  padding: 10px 15px;
}

.content-product p {
  margin-bottom: 10px;
  letter-spacing: 0;
  font-size: 18px;
}

.content-product strong {
  font-weight: 900;
  margin-right: 10px;
}

.content-product small {
  display: table;
}

@media (max-width: 768px) {
  .content-product strike {
    display: flex;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

.box-loading {
  text-align: center;
  margin-top: 25px;
}

.box-loading img {
  width: 100%;
  max-width: 34px;
  margin-bottom: 5px;
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -webkit-animation-duration: 2000ms;
}

.content-pages .about {
  padding: 50px 0 80px;
}

.content-pages h2 {
  margin-bottom: 20px;
}

.content-pages .form-check.form-check-inline {
  margin-bottom: 20px;
}

.content-pages .newsletter button {
  top: 45px;
}

.box-order-desktop,
.box-order-mobile {
  padding-top: 10px;
}

.box-order-desktop p,
.box-order-mobile p {
  float: left;
  letter-spacing: 0;
  margin-right: 10px;
}

.box-order-desktop a,
.box-order-mobile a {
  color: #000;
  letter-spacing: 0;
  margin: 0 10px;
  font-weight: bold;
}

.box-order-desktop a.active,
.box-order-mobile a.active {
  color: #ed1c24;
}

@media (max-width: 768px) {
  .box-order-desktop {
    display: none;
  }
}

#btn-filter-mobile {
  background: #fff;
  width: 100%;
  padding: 7px 18px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  color: #f26649;
  font-weight: bold;
  font-size: 15px;
  display: none;
}

#btn-filter-mobile img {
  width: 100%;
  max-width: 18px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  #btn-filter-mobile {
    display: block;
  }
}

.box-order-mobile {
  padding-top: 0;
  margin-bottom: 20px;
}

.box-order-mobile a {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}

.w-100 {
  width: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 500px;
  margin: 0 auto;
}

.box-option-product-with-title {
  background: #fff;
  padding: 12px 30px 6px 30px;
  margin-bottom: 40px;
  /* IMAGE STYLES */
  /* CHECKED STYLES */
}

.box-option-product-with-title label {
  cursor: pointer;
}

.box-option-product-with-title [type=radio] {
  position: absolute;
}

.box-option-product-with-title [type=radio] + img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.box-option-product-with-title [type=radio]:checked + img {
  border: 2px solid #ca4932;
  border-radius: 5px;
}

.content-pages .title-register {
  margin-top: 0;
}

.box-price {
  text-align: center;
}

.box-price p {
  color: #000;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 0;
  line-height: 24px;
}

.box-price p span {
  font-size: 34px;
}

.box-price small {
  display: table;
  margin: 5px auto 35px;
}

.btn-options-toggle {
  background: #fff;
  padding: 7px 18px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin-top: 15px;
  cursor: pointer;
}

.btn-options-toggle .fa {
  float: right;
  margin-top: 5px;
}

.btn-options-toggle form {
  margin-top: 10px;
}

.box-options-toggle {
  padding: 14px 20px 1px;
  background: #fff;
  border-radius: 5px;
  margin-top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.payment-method input {
  width: auto;
}

@media (max-width: 768px) {
  .carousel-inner {
    margin-bottom: 35px;
  }

  .box-price .btn-orange {
    margin-bottom: 25px;
  }

  .relacionadas h2 {
    margin-top: 50px;
  }
}

.image-product-cart {
  width: 75px;
}

.product-carousel {
  cursor: pointer;
}

.img-product-carousel {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 750px;
}

.img-search {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

