.display-none {
    display: none;
}
.photo{
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
    background: #FAFAFA;
    border: 1px solid;
    border-top:#EEE;
    border-left:#DDD;
    border-right:#DDD;
    border-bottom:#CCC;
    width: 50px;
}
.color-img{
    margin: 5px;
    padding: 4px;
    border-radius: 3px;
    background: #ccc;
    width: 50px;
    height: 50px;
}
.img-preview-color {
    width: 150px;
    height: 150px;
    border: 4px solid #ccc;
    object-fit: cover;
    object-position: center;
}

.product-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 2px;
}

.img-color-option {
    width: 15px;
    margin-top: -3px;
    border-radius: 3px;
    margin-right: 5px;
}

.input-subproduct-image {
    display: none;
    
}

.input-subproduct-image + label {
    padding: 4px;
    cursor: pointer;
}

.input-subproduct-image:checked + label {
    border: solid 2px #f39c12;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: .2s;
}
.option-subproduct-image {
    img {
        width: 100%;
    }
}
.no-checked {
    display: none;
}
.sub-categories{
    margin-left: 15px;
}
.sub-level{
    padding-left: 10px;
}