// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// Variables
@import 'icons';
@import 'variables';
@import 'general';

body {
    background-color: $body-bg;
}

header#header {
    width: 100%;
    background-color: $white;
    padding-top: 15px;
}

@media(max-width: 768px) {
    header#header {
        display: none;
    }

    header#header-mobile {
        display: block;
    }
}

#header-mobile {
    display: none;
    width: 100%;
    background-color: $white;
    padding: 8px 0;

    img {
        width: 100%;
        max-width: 90px;
        margin: 0 auto;
        display: table;
    }

    div#box-bag-mobile {
        position: relative;
        cursor: pointer;
        right: 0;
    }

    i.icon-bag {
        font-size: 29px;
        display: table;
        margin-top: 8px;
    }

    .items-bag {
        background: #d6d6d6;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        position: absolute;
        top: -1px;
        right: 0;
    }

    .btn-toggle {
        margin-top: 13px;
        cursor: pointer;
    }

    .row-menu-toggle {
        background: #000;
        width: 25px;
        height: 2px;
        margin: 3px 0;
    }

    .row-menu-toggle-small {
        background: #000;
        width: 20px;
        height: 2px;
    }

    .box-search {
        margin-top: 10px;

        input {
            padding: 6px 22px;
        }

        button {
            padding-right: 10px;
        }

        button i {
            font-size: 18px;
        }
    }
}

@media(max-width: 414px) {
    #header-mobile div#box-bag-mobile {
        right: 2px;
    }

    #header-mobile .items-bag {
        right: -2px;
    }
}

@media(max-width: 375px) {
    #header-mobile div#box-bag-mobile {
        right: 9px;
    }

    #header-mobile .items-bag {
        right: -10px;
    }
}

#menu-mobile {
    display: none;
    padding: 0;
    background: #efefef;
    height: 100vh;
    width: 290px;
    position: fixed;
    top: 0;
    z-index: 9;
    #close-menu {
        display: table;
        margin: 16px auto;
        color: #000;
        width: 115px;
        img {
            max-width: 12px;
            margin-top: 7px;
            float: left;
            margin-right: 10px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    #main-menu-mobile {
        #menu-padding {
            padding: 0 20px;
        }
        button {
                width: 100%;
                background: #fff;
                margin: 10px 0;
                padding: 9px 21px;
                border-radius: 35px;
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.11);
                border: none;
                text-align: left;
            img {
                float: left;
                width: 100%;
                max-width: 14px;
                margin-top: 4px;
                margin-right: 10px;
            }
        }
        .category {
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            margin: 0;
            margin-top: 7px;
            padding: 13px 22px;
            border: none;
            background: #fff;
            width: 100%;
            text-align: left;
            img {
                float: right;
                max-width: 12px;
                margin-top: 7px;
            }
        }
    }
    p {
        padding-left: 20px;
        margin-top: 40px;
    }
}
#submenu-mobile {
    #back-menu {
        display: table;
        margin: 16px auto;
        color: #000;
        width: 115px;
        img {
            max-width: 12px;
            margin-top: 7px;
            float: left;
            margin-right: 10px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    h5 {
        font-weight: 900;
        margin-left: 20px;
        margin-top: 45px;
    }
    .w-submenu{
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        margin-top: 7px;
        padding: 13px 22px;
        border: none;
        background: #fff;
        width: 100%;
        text-align: left;
        img {
            float: right;
            max-width: 12px !important;
            margin-top: 7px !important;
        }
    }
}
div#overlay {
    background: rgb(0 0 0 / 65%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
}
.has-error {
    border: 1px solid #ed1f25;
}
.help-block {
    color: #ed1f25;
    font-size: 10px;
}
.box-search {
    position: relative;
    margin: 5px 0;
    width: 100%;

    input {
        border-radius: 25px;
        background-color: #e9e8e8;
        border: none;
        padding: 15px 22px;
        width: 100%;
        display: flex;
        font-weight: 400;
        font-size: 14px;
    }

    button {
        padding-right: 20px;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        i {
            font-size: 22px;
            color: #818181;
        }
    }
}

#box-user {
    margin: 14px 25px 0 0;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
    i {
        font-size: 30px;
    }

    a {
        color: #181818;
        font-size: 14px;
        margin-left: 10px;
        line-height: 16px;
    }
}

#box-bag {
    cursor: pointer;
    margin: 14px 0;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
        font-size: 32px;
    }

    a {
        color: #181818;
        font-size: 14px;
        margin-left: 10px;
        line-height: 16px;
    }
}

.row-menu {
    border-top: 1px solid #858585;
    border-bottom: 1px solid #858585;
    margin-top: 15px;
    padding: 15px;
}

#main-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        
    }

    a {
        color: #858585;
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .active {
        font-weight: bold;
        color: #000;
    }

    .main-menu-bold {
        font-weight: bold;
    }
}

section.banner {
    background: #e2e3db;
    height: 350px;
}

section.options {
    background: #4e1b5d;
    color: #fff;
    padding: 15px;

    img {
        float: left;
        width: 100%;
        max-width: 50px;
        margin-right: 20px;
    }

    p {
        font-size: 18px;
        margin: 3px 0 0 0;
    }
}

.options-mobile {
    text-align: center;
    display: none;
}

.box-options-mobile {
    background: #4e1b5d;
    color: #fff;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 35px;

    h5 {
        color: #fff;
        font-weight: 900;
        ;
    }

    p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .options {
        display: none;
    }

    .options-mobile {
        display: block;
    }
}

section.content {
    background: #efefef;

    h2 {
        font-size: 30px;
        font-weight: 900;
        margin-top: 60px;
        margin-bottom: 35px;
    }
}

@media(max-width: 768px) {
    section.content h2 {
        font-size: 25px;
        font-weight: 900;
        margin-top: 25px;
        margin-bottom: 15px;
    }
}

#slider-carousel {
    margin: 0;
    position: relative;
}

.box-carousel {
    margin: 0 25px 25px 25px;
    /*0 10px*/
    outline: none;

    img {
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 250px;
        object-fit: cover;
    }
}

@media(max-width: 768px) {
    .box-carousel {
        margin: 0 11px 5px 10px;
    }
}

.box-slider {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

    h5 {
        font-size: 18px;
        margin-top: 40px;
    }
}

.status {
    position: absolute;
    background-color: #fff200;
    padding: 3px 15px;
    border-radius: 30px;
    top: 15px;
    right: 15px;

    p {
        color: #fff;
        font-weight: 900;
        margin-bottom: 0;
        font-size: 14px;
    }
}

.slider {
    margin: 0;
    position: relative;
}

.next-carousel,
.next-carousel-news,
.next-carousel-promotion,
.prev-carousel,
.prev-carousel-news,
.prev-carousel-promotion {
    z-index: 9;
    position: absolute;
    top: 185px;
    background: transparent;
    border: 0;
    color: #000;
    font-size: 23px;
}

.next-carousel-promotion,
.prev-carousel-promotion {
    color: #fff;
}

.next-carousel,
.next-carousel-news,
.next-carousel-promotion {
    right: -55px;
}

.prev-carousel,
.prev-carousel-news,
.prev-carousel-promotion {
    left: -55px;
}

.content-slider {
    padding: 10px 15px;

    p {
        margin-bottom: 10px;
        letter-spacing: 0;
        font-size: 18px;
    }

    strong {
        font-weight: 900;
        margin-right: 10px;
    }

    small {
        display: table;
    }
}

.box-spotlight {
    background: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    border: solid 1px #fff;
    border-radius: 2px;
    cursor: pointer;

    h5 {
        margin: 4px 0;
    }

    &:hover {
        border: solid 1px #ed2327;
        
    }
}

@media (max-width: 768px) {
    .content-slider strike {
        display: flex;
    }

    .next-carousel,
    .next-carousel-news,
    .next-carousel-promotion,
    .prev-carousel,
    .prev-carousel-news,
    .prev-carousel-promotion {
        display: none !important;
    }

    .box-spotlight {
        margin-bottom: 10px;
    }
}

.box-wholesale {
    background: rgb(237, 28, 36);
    background: -moz-linear-gradient(48deg, rgba(237, 28, 36, 1) 0%, rgba(242, 102, 73, 1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(237, 28, 36, 1) 0%, rgba(242, 102, 73, 1) 100%);
    background: linear-gradient(48deg, rgba(237, 28, 36, 1) 0%, rgba(242, 102, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1c24", endColorstr="#f26649", GradientType=1);
    padding: 50px;
    min-height: 140px;
    border-radius: 5px;
    margin: 60px 0 95px;

    h3 {
        font-size: 26px;
        color: #fff;
        float: left;
        margin-top: 2px;
    }

    button {
        background: #fff;
        border: none;
        color: #ed1f25;
        font-weight: 900;
        font-size: 22px;
        float: right;
        padding: 5px 35px;
        border-radius: 45px;
    }
}

@media(max-width: 768px) {
    .box-wholesale {
        padding: 45px 0 0 0;
        text-align: center;
        min-height: 170px;
        margin: 25px 0 0;

        h3 {
            font-size: 20px;
            float: initial;
        }

        button {
            float: initial;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}

section.lightning-promotion {
    background: #ee2428;
    padding: 20px 0;
    margin-top: 80px;

    h2 {
        margin-top: 10px;
        color: #fff;
    }
}

@media(max-width: 768px) {
    section.lightning-promotion {
        margin-top: 25px;
    }
}

.box-promotion {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    min-height: 70px;
    margin-bottom: 45px;

    img {
        width: 100%;
        max-width: 50px;
        float: left;
        margin-right: 60px;
    }
}

@media(max-width: 374px) {
    .box-promotion img {
        margin-right: 15px;
    }
}

.chronometer {
    float: left;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 55px;
    margin-top: 4px;

    p {
        font-size: 24px;
        font-weight: 900;
        color: #ee2428;
        margin: 0;
        line-height: 15px;
    }

    p.two-points {
        position: absolute;
        top: -3px;
        right: -9px;
    }

    small {
        font-weight: bold;
        color: #ee2428;
    }
}

section.about {
    padding: 80px 0;
}

.box-about {
    background: #fff;
    padding: 25px 30px 10px;
    border-radius: 5px;

    h2 {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
    }

    p {
        font-size: 18px;
        letter-spacing: 0;
    }
}

@media(max-width: 768px) {
    .box-about {
        padding: 25px 20px 10px;
        margin-bottom: 30px;
    }
}

.newsletter {
    text-align: center;

    h2 {
        text-transform: uppercase;
    }

    form {
        position: relative;
    }

    input[type="email"] {
        padding: 10px 15px;
        width: 100%;
        max-width: 395px;
        border: 1px solid #adadad;
        border-radius: 10px;
        background: #fff;
    }

    button {
        background: #ed1c24;
        border: none;
        padding: 10px 15px;
        border-radius: 0 10px 10px 0;
        position: absolute;
        top: 1px;
        right: 73px;
    }
}

.checkbox {
    display: block;
    position: relative;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    max-width: 330px;
    margin: 20px auto 15px;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked~.checkmark {
    background-color: #ed1c24;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

@media(max-width: 768px) {
    .newsletter button {
        right: 0;
    }

    .checkbox {
        font-size: 13px;
    }
}

.box-medias {
    background: #fff;
    width: 215px;
    margin: 95px auto 0;
    padding: 30px 0 35px;
    border-radius: 5px;

    p {
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        margin: 0 5px;
        color: #000;
        font-weight: bold;
    }
}

#mobile-medias {
    display: none;
    background: #fff;
    text-align: center;
}

@media(max-width: 768px) {
    section.about {
        padding: 80px 0 25px;
    }

    .box-medias {
        display: none;
    }

    #mobile-medias,
    #box-medias-mobile {
        display: block;
        width: 100%;
        margin: 0 0 5px;
    }
}

section.info {
    padding: 10px 0 60px;

    h4 {
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 30px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 3px;
    }

    ul li a img#whatsapp {
        width: 100%;
        max-width: 29px;
        margin-right: 7px;
    }

    ul li a img#email {
        width: 100%;
        max-width: 25px;
        margin-right: 11px;
    }

    ul li a {
        color: #000;
    }
}

@media(max-width: 768px) {
    section.info {
        padding: 10px 0 20px;

        h4 {
            margin-bottom: 15px;
            margin-top: 25px;
        }
    }
}

section.payment {
    padding: 60px 0 60px;
    background: #fff;

    h4 {
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 30px;
    }

    img {
        width: 100%;
        max-width: 199px;
    }
}

@media(max-width: 768px) {
    img#img-payment {
        margin-bottom: 45px;
    }
}

.address {
    padding: 20px 0;

    p {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
        display: table;
        margin-top: 40px;
    }

    small {
        color: #878787;
    }
}

@media(max-width: 768px) {
    .address {
        p {
            margin-bottom: 25px;
        }

        a {
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
}

.box-register {
    background: #fff;
    text-align: center;
    padding: 30px 45px 60px;
    margin: 40px 0;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 21%);
    border-radius: 5px;

    p {
        font-weight: bold;
        margin-bottom: 35px;
    }

    label {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 3px;
        letter-spacing: 0.3px;
    }

    input {
        width: 100%;
        border-radius: 5px;
        padding: 7px 15px;
    }

    .custom-control.custom-radio.custom-control-inline {
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        background: #f7941d;
        border: none;
        color: #fff;
        font-weight: bold;
        padding: 8px;
        border-radius: 5px;
    }
}

.checkout {
    h5 {
        margin-bottom: 15px;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        margin: 5px 0;
    }

    img {
        width: 100%;
        max-width: 13px;
        margin-right: 10px;
        margin-top: -3px;
    }

    img#card-checkout {
        max-width: none;
        margin: 0 0 15px 0;
    }
}

.box-register-with-title {
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 15px 30px;
    text-align: initial;
}

.title-register {
    background: #ed1c24;
    background: linear-gradient(48deg, #ed1c24 0%, #f26649 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1c24", endColorstr="#f26649", GradientType=1);
    padding: 5px 30px;
    border-radius: 5px 5px 0 0;
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
}

.custom-control.custom-checkbox {
    margin: 30px 0;
}

#checkout {
    text-align: center;
}

button.btn-orange {
    width: 100%;
    background: #f7941d;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 60px;
}

.box-order-placed {
    font-family: 'Lato', sans-serif;
    padding: 50px 0 0;

    img {
        width: 100%;
        max-width: 50px;
    }

    h4 {
        font-size: 20px;
        color: #48b02c;
        font-weight: 900;
        margin: 20px 0 5px;
    }

    span {
        color: #000;
        font-weight: 900;
        font-size: 18px;
        display: table;
        margin: 0 auto 35px;
    }

    .box-steps {
        float: left;
        width: 33%;
        position: relative;
        padding: 0 10px;

        img {
            max-width: 30px;
        }

        small {
            font-size: 12px;
            display: flex;
            line-height: 13px;
            margin-top: 7px;
        }

        small#waiting {
            color: #b04f39;
        }

        img#step3 {
            max-width: 40px;
            margin-top: 0.2px;
        }

        img.next {
            position: absolute;
            top: 10px;
            right: -10px;
            max-width: 15px !important;
        }
    }

    #next-step {
        text-align: left;
        padding: 20px;
        margin-top: 130px;

        h5 {
            font-weight: 900;
        }

        p {
            letter-spacing: 0;
        }
    }
}

.breadcrumb {
    padding: 10px 0 5px;
    margin-bottom: 0;
    background: transparent;

    .breadcrumb-item {
        color: #6c757d;
    }
}

.breadcrumb-pages {
    h4 {
        font-weight: 900;
        margin-bottom: 15px;
    }
}

@media(max-width: 768px) {
    .breadcrumb {
        font-size: 12px;
    }
}

.box-filter-desktop,
.box-filter-mobile {
    background: #fff;
    padding: 25px 25px 5px 25px;
    border-radius: 5px;

    p {
        margin-bottom: 4px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 13px;
    }
}

.box-filter-mobile {
    display: none;
    margin-bottom: 30px;
}

@media(max-width: 768px) {
    .box-filter-desktop {
        display: none;
    }
}

.box-filter-option {
    height: 130px;
    overflow-y: scroll;
    margin-bottom: 30px;

    .checkmark {
        width: 14px;
        height: 14px;
        top: 4px;
    }

    .checkbox {
        padding-left: 20px;
        margin: 3px 0;

        .checkmark:after {
            left: 3.2px;
            top: 1px;
            width: 5px;
            height: 8.2px;
        }
    }
}

.box-filter-option::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 30px;
}

.box-filter-option::-webkit-scrollbar {
    width: 7px;
    background: #f0f0f0;
    border-radius: 30px;
}

.box-filter-option::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 30px;
}

.color-filter {
    height: 15px;
    width: 15px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}

#yellow {
    background: #fbff00;
}

#black {
    background: #000;
}

#blue {
    background: #0200fe;
}

#blueDark {
    background: #00236a;
}

#gray {
    background: #8c8989;
}

#purple {
    background: #6c05a0;
}

.box-product {
    outline: none;
    margin-bottom: 40px;

    img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
}

.box-content-product {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

    h5 {
        font-size: 18px;
        margin-top: 40px;
    }
}

.status {
    position: absolute;
    background-color: #fff200;
    padding: 3px 15px;
    border-radius: 30px;
    top: 15px;
    right: 15px;

    p {
        color: #fff;
        font-weight: 900;
        margin-bottom: 0;
        font-size: 14px;
    }
}

.content-product {
    padding: 10px 15px;

    p {
        margin-bottom: 10px;
        letter-spacing: 0;
        font-size: 18px;
    }

    strong {
        font-weight: 900;
        margin-right: 10px;
    }

    small {
        display: table;
    }
}

@media(max-width: 768px) {
    .content-product {
        strike {
            display: flex;
        }
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

.box-loading {
    text-align: center;
    margin-top: 25px;

    img {
        width: 100%;
        max-width: 34px;
        margin-bottom: 5px;
        -webkit-animation-name: spin;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 2000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 2000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        -webkit-animation-duration: 2000ms;
    }
}

.content-pages {
    .about {
        padding: 50px 0 80px;
    }

    h2 {
        margin-bottom: 20px;
    }

    .form-check.form-check-inline {
        margin-bottom: 20px;
    }

    .newsletter button {
        top: 45px;
    }
}

.box-order-desktop,
.box-order-mobile {
    padding-top: 10px;

    p {
        float: left;
        letter-spacing: 0;
        margin-right: 10px;
    }

    a {
        color: #000;
        letter-spacing: 0;
        margin: 0 10px;
        font-weight: bold;
    }

    a.active {
        color: #ed1c24;
    }
}

@media(max-width: 768px) {
    .box-order-desktop {
        display: none;
    }
}

#btn-filter-mobile {
    background: #fff;
    width: 100%;
    padding: 7px 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    color: #f26649;
    font-weight: bold;
    font-size: 15px;
    display: none;

    img {
        width: 100%;
        max-width: 18px;
        margin-right: 5px;
    }
}

@media(max-width: 768px) {
    #btn-filter-mobile {
        display: block;
    }
}

.box-order-mobile {
    padding-top: 0;
    margin-bottom: 20px;

    a {
        display: inline-block;
        margin: 0;
        margin-right: 10px;
    }
}

.w-100 {
    width: 100% !important;
    object-fit: contain;
    max-width: 500px;
    margin: 0 auto;
}

.box-option-product-with-title {
    background: #fff;
    padding: 12px 30px 6px 30px;
    margin-bottom: 40px;
    label {
        cursor: pointer;
    }
    [type=radio] {
        position: absolute;
        // opacity: 0;
        // width: 0;
        // height: 0;
    }

    /* IMAGE STYLES */
    [type=radio]+img {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

    /* CHECKED STYLES */
    [type=radio]:checked+img {
        border: 2px solid #ca4932;
        border-radius: 5px;
    }
}

.content-pages .title-register {
    margin-top: 0;
}

.box-price {
    text-align: center;

    p {
        color: #000;
        font-weight: 900;
        font-size: 22px;
        margin-bottom: 0;
        line-height: 24px;

        span {
            font-size: 34px;
        }
    }

    small {
        display: table;
        margin: 5px auto 35px;
    }
}

.btn-options-toggle {
    background: #fff;
    padding: 7px 18px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    margin-top: 15px;
    cursor: pointer;

    .fa {
        float: right;
        margin-top: 5px;
    }

    form {
        margin-top: 10px;
    }
}

.box-options-toggle {
    padding: 14px 20px 1px;
    background: #fff;
    border-radius: 5px;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.payment-method input {
    width: auto;
}

@media(max-width: 768px) {
    .carousel-inner {
        margin-bottom: 35px;
    }

    .box-price .btn-orange {
        margin-bottom: 25px;
    }

    .relacionadas h2 {
        margin-top: 50px;
    }
}

.image-product-cart {
    width: 75px;
}

.product-carousel {
    cursor: pointer;
}

.img-product-carousel {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 750px;
}

.img-search {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
